.App {
        margin: 30px auto;
            max-width: 600px;
    
}
.App footer{
    font-size: 12px;
    margin-top: 8px;
    margin-left: 33px;
}
@media only screen and (max-width: 600px){
    .App{
        max-width: 367px;
        margin: auto;
    }
    .App footer {
            font-size: 9px;
            margin-left: 13px;

        }
    
       
}