.App {
    max-width: 600px;
    margin:0 auto;
}
.App img {
    height: 64px;
        display: inline-block;
        margin-bottom: 21px;
        margin-right: 10px;
    }
.App footer{
    font-size: 11px;
    margin: 8px 0;
}