.weather{
    border: 1px solid;
    border-color: rgb(112, 117, 122);
    color: rgb (135,135,135);
    border-radius: 4px;
    font-family: arial, sans-serif;
    max-width: 600px;
    padding: 16px;
    margin:30px auto;
        height: 222px;
            width: 585px;
           
}
.weather form{
    margin-bottom: 20px;
}
.weather .degrees {
    color: rgb(32, 33, 36);
    font-size: 48px;
     font-weight: 400;
     line-height: 56px;
}
.weather .unit{
    color: rgb(32, 33, 36);
    position: relative;
    top: -23px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.weather h1{
    color: rgb(32, 33, 36);
    font-size:22px ;
    font-weight: 100; 
    line-height: 26px;
    margin-bottom: 0;
    text-align: right;
}
.weather #city{
    text-align: right;
}
.weather .secondary{
    color: rgb(112, 117, 122);
    font-family: arial,
        sans-serif;
         font-size: 12px;
          font-weight: 400;
           height: 16px;
            line-height: 16px;
}
.weather .details{
    color: rgb(112, 117, 122);
   font-size: 16px;
    font-weight: 400;
     line-height:20px;
     text-align: right;
     text-decoration: none;
     
}
.weather .list{
    padding-left: 9px;
            padding-top: 6px;
}
.weather ul{
    display: inline-block;
    list-style: none;
    
}
.weather canvas{
    display:inline-block;

}
.weather .col-6{
    margin-top: 30px;
}

